Checks: '*,
         -cppcoreguidelines-pro-type-const-cast,
         -cppcoreguidelines-pro-type-vararg,
         -cppcoreguidelines-special-member-functions,
         -misc-bool-pointer-implicit-conversion,
         -misc-definitions-in-headers,
         -fuchsia-trailing-return,
         -fuchsia-default-arguments-declarations,
         -fuchsia-default-arguments-calls,
         -fuchsia-overloaded-operator,
         -modernize-pass-by-value,
         -cppcoreguidelines-avoid-magic-numbers,
         -readability-magic-numbers,
         -readability-isolate-declaration,
         -readability-implicit-bool-conversion,
         -readability-non-const-parameter,
         -google-build-using-namespace,
         -hicpp-special-member-functions,
         -hicpp-vararg'
WarningsAsErrors: '*'
HeaderFilterRegex: '\/include\/'
AnalyzeTemporaryDtors: true
